@charset "UTF-8";

// 브랜드컬러
$brand-primary: #2C1F67;
$brand-secondary: #D8C3EF;
$brand-point: #7D03FF;

// 무채색
$color-white: #fff;
$color-black: #05020F;
$color-realblack: #000;

// 그레이스케일
$gray-50: #FAFAFA;
$gray-100: #F7F7F7;
$gray-200: #F8F7FB;
$gray-300: #DEDEDE;
$gray-400: #A3A3A5;
$gray-500: #747478;
$gray-600: #545456;
$gray-700: #464648;
$gray-800: #333333;
$gray-900: #05020F;

// 글자색
$text-primary: #05020F;
$text-secondary: #545456;
$text-tertiary: #747478;
$text-disabled: #747478;

// 테두리색
$border-input: #B2B8BD;
$border-primary: #DADADA;
$border-secondary: #EAEAEA;
$border-disabled: #B1B8BE;

// 오버레이
$dim-dark: rgba(5, 2, 15, 0.7);
$dim-white: rgba(255, 255, 255, 0.13);