@charset "UTF-8";
@import 'base';

.wrap {
    position: relative;
}

body {
    &.fixed {
        overflow: hidden;
        height: 100vh;
        background-color: #fff;

        .wrap {

            >div:not(header) {
                background: #fff;
            }

        }
    }

    &.overflow-hidden {
        .header {
            border-bottom: none;

            &.scrolled {
                background: none;
                backdrop-filter: unset;
            }

            .header__inner {
                display: none;
            }
        }
    }
}

.wrap {
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.container {
    width: 192rem;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.header {
    margin: 0 auto;
    width: 192rem;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    height: 10rem;

    &__inner {
        display: flex;
        width: 144rem;
        max-width: 100%;
        margin: 0 auto;
        height: 100%;
    }

    &.active {


        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 0.1rem;
            background: #eaeaea;
            position: absolute;
            bottom: 0;
        }
    }
}



.footer {
    width: 192rem;
    margin: 0 auto;
    background: #05020F;
    display: flex;
    justify-content: center;

    &__inner {
        /* height: 22rem; */
        width: 144rem;
        max-width: 100%;
        margin: 0 auto;
        display: grid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 8rem 0;
    }
}

.sub {
    &-container {
        width: 192rem;
        max-width: 100%;
        margin: 0 auto;
        position: relative;
    }

    &-content__inner {
        width: 144rem;
        max-width: 100%;
        margin: 7.2rem auto 8rem;
    }

    &:after {
        display: none !important;
    }
}


/* 취합 */


.board-detail {
    &__summary {
        &--top {
            display: flex;
            justify-content: space-between;
            padding-bottom: 3rem;
            border-bottom: 3px solid #05020f;
        }

        &--bottom {
            .summary--bottom-inner {
                display: flex;
                margin-top: 3rem;
            }

            .summary--bottom--img {
                width: 52.2rem;
                height: 72rem;
                margin-right: 6.4rem;
                position: relative;

                span {
                    display: block;
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .summary--bottom--txt {
                width: calc(100% - 58.6rem);
            }

            .summary--bottom-linkWrap {
                display: flex;
                justify-content: flex-end;
            }

            .summary--bottom-list {
                margin-top: 1.6rem;

                li {
                    display: flex;

                    &+li {}
                }

                span {
                    padding: 1.15rem 0;
                    display: block;
                    line-height: 160%;
                }

                .cate {
                    width: 12rem;
                    @include font(1.7, 500, #05020f);
                }

                .txt {
                    width: calc(100% - 14.4rem);
                    @include font(1.7, 400, #05020f);
                }
            }

            .summary--bottom__link {
                display: flex;
                border: 1px solid #dadada;
                @include font(1.7, 400, #05020f);
                background: #FAF5FF;
                line-height: 160%;
                position: relative;
                padding: 0 4.55rem 0 1.05rem;
                height: 4.8rem;
                align-items: center;

                &.content {
                    &::after {
                        background: url(../image/sub/summary-copy.svg) no-repeat center;
                    }
                }

                &.img {
                    &::after {
                        background: url(../image/sub/summary-download.svg) no-repeat center;
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    right: 1.55rem;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 2.4rem;
                    height: 2.4rem;
                    display: block;
                }

                &+.summary--bottom__link {
                    margin-left: 0.8rem;
                }
            }
        }

        .summary--top--left {
            display: flex;
        }

        .summary--top--right {
            display: flex;

            li {
                &.copy {
                    button {
                        &::after {
                            background: url(../image/sub/summary-copy.svg) no-repeat center;
                        }
                    }
                }

                &.download {
                    button {
                        &::after {
                            background: url(../image/sub/summary-download.svg) no-repeat center;
                        }
                    }
                }

                &+li {
                    margin-left: 0.8rem;
                }
            }

            button {
                border: 1px solid #dadada;
                @include font(1.7, 400, #05020f);
                line-height: 160%;
                position: relative;
                padding: 0 4.55rem 0 1.05rem;
                height: 4.8rem;

                &:after {
                    content: '';
                    position: absolute;
                    right: 1.55rem;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 2.4rem;
                    height: 2.4rem;
                    display: block;
                }
            }
        }

        .summary__cate {
            background: #2C1F67;
            padding: 0.8rem 2.4rem;
            border-radius: 999px;
            line-height: 160%;
            display: flex;
            align-items: center;
            @include font(1.8, 600, #fff);
        }

        .summary__tit {
            margin-left: 2.4rem;
            @include font(3.6, 600, #05020f);
        }

        .btn-pdf {
            display: flex;
            @include font(1.7, 400, #fff);
            background: rgba(5, 2, 15, 0.75);
            ;
            line-height: 160%;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 3;
            padding: 0 4.55rem 0 1.6rem;
            height: 4.8rem;
            align-items: center;

            &::after {
                content: '';
                position: absolute;
                right: 1.55rem;
                top: 50%;
                transform: translateY(-50%);
                width: 2.4rem;
                height: 2.4rem;
                display: block;
                background: url(../image/sub/btn-pdf.svg) no-repeat center;
            }
        }
    }
    &__tabCon{
        margin-top: 10rem;
        .board-detail__view-inner{
            padding:0;
        }
    }
}
.tab__list{
    &.fake{
        border:1px solid #05020f;
        .tab__item{
            flex:1;
            text-align: center;
            @include font(1.8,500,#05020f);
                line-height: 160%;
                padding:1.75rem 0;
            &.active{
                @include font(1.8,500,#fff);
                line-height: 160%;
                background: #05020F;
            }
            & + .tab__item{
                border-left: 1px solid #05020f;
            }
        }
        & ~ .tab__list.fake{
            margin-top: 10rem;
        }
    }
}
/* //취합 */